@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.profilContainer {
  @apply h-[100vh] flex flex-col justify-evenly relative pt-20
}

.description {
  @apply flex flex-col ml-2.5 gap-5
}

.description h1 {
  @apply m-0 ml-2.5 p-0 font-black text-3xl tracking-wide
}

.description p {
  @apply text-base pt-10 pl-5 text-iris-11/50
}

.description p span {
  @apply text-xl font-semibold tracking-wide text-iris-11
}

.profilContact ul {
  @apply flex justify-center items-center gap-1 md:gap-8 flex-wrap
}

.profilContact ul li {
  @apply flex text-center w-[140px] min-h-10
}

.profilContact ul li svg {
  @apply w-8 h-5/6 bg-transparent
}

.profilContact ul li a {
  @apply border-[#3D3E82] border-solid border rounded-lg text-white w-full flex justify-center items-center bg-[#5B5BD6] gap-1 transition duration-100 ease-in hover:bg-[#6E6ADE] hover:duration-100 hover:ease-out
}

.lottieContainer {
  @apply w-full flex justify-center absolute bottom-2.5
}

.lottieArrow {
  @apply w-[64px] overflow-hidden
}