@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navBarContainer {
  @apply w-full fixed top-0 left-0 z-50 bg-[#13131E]
}

.navBarContainer .menuBurger button {
  @apply border-none bg-[#13131E] 
}

.inactiveMenu {
  @apply max-h-0 opacity-0 visible transition-all duration-500 ease-out
}

.activeMenu {
  @apply flex flex-col justify-end mr-auto ml-5 max-h-52 transition-all duration-500 ease-in opacity-100
}

.navBarContainer ul li a {
  @apply text-lg text-[#E0DFFE]
}