@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply list-none no-underline text-[21px] font-sintony overflow-x-hidden m-0
}

body {
  @apply h-[vh100] bg-[#13131E]
}

.title {
  @apply font-poppins
}

.gradient-text {
  @apply bg-gradient-to-r from-title-gradient-0 via-title-gradient-50 to-title-gradient-100 text-transparent bg-clip-text
}

.blobBackground {
  animation: animate 20s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
  @apply absolute left-[25%] top-[25vh] opacity-50 w-[50vw] pb-[50%] filter blur-[20px] z-[negative-value] bg-gradient-to-r from-title-gradient-0 via-title-gradient-50 to-title-gradient-100
}


@keyframes animate {
  0% {
    transform: scale(1);
    border-radius: 68% 32% 28% 72% / 72% 28% 72% 28%;
  }

  25% {
    transform: scale(1.1);
    border-radius: 50% 50% 33% 67% / 55% 45% 55% 45%;
  }

  50% {
    transform: scale(0.9);
    border-radius: 40% 60% 60% 40% / 40% 60% 40% 60%;
  }

  75% {
    transform: scale(1.05);
    border-radius: 33% 67% 55% 45% / 60% 40% 60% 40%;
  }

  100% {
    transform: scale(1);
    border-radius: 68% 32% 28% 72% / 72% 28% 72% 28%;
  }
}